{{define "body"}}


{{if .Warnings}}
<div class="container">
	<div class="alert alert-warning">
		<section>
			<h1>Warning</h1>
			<ul>
			{{range .Warnings}}
				<li>{{.}}</li>
			{{end}}
			</ul>
		</section>
	</div>
</div>
{{end}}

<div class="container">
	<div class="row row-centered">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h1>System</h1>
			<table class="table">
				<tr>
					<th>Load:</th>
					<td><span class="pie" data-diameter="32" data-colours='["red", "#f0f0f0"]'>{{.LoadTrucated}}/{{.MaxAcceptableLoad}}</span>
					<span>&nbsp;{{.Load.Load1}}, {{.Load.Load5}}, {{.Load.Load15}}</span></td>
				</tr>
				<tr>
					<th>Uptime:</th>
					<td>{{.Uptime.Uptime}}</td>
				</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<h1>CPU</h1>
			<table class="table">
				<tr>
					<th>Usage</th>
					<td><span class="pie" data-diameter="32" data-colours='["red", "orange", "yellow", "#f0f0f0"]'>{{.CPUUsage.User}},{{.CPUUsage.System}},{{.CPUUsage.IoWait}},{{.CPUUsage.Idle}}</span>
						<span>&nbsp;{{.CPUUsage.Usage}}% total used</span></td>
				</tr>
				<tr>
					<th>Temp</th>
					<td><span class="pie" data-diameter="32" data-colours='["red", "#f0f0f0"]'>{{.CPUInfo.Temp}}/100</span>
						<span>&nbsp;{{.CPUInfo.Temp}}°C</span></td>
				</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<h1>Memory</h1>
			<table class="table">
				<tr>
					<th>RAM</th>
					<td><span class="pie" data-diameter="32" data-colours='["red", "orange", "yellow", "#f0f0f0"]'>{{.MemInfo.UsedPerc}},{{.MemInfo.BuffersPerc}},{{.MemInfo.CachePerc}},{{.MemInfo.FreePerc}}</span>
						<span>&nbsp;{{.MemInfo.FreeUserPerc}}% available</span></td>
				</tr>
				<tr>
					<th>SWAP</th>
					<td><span class="pie" data-diameter="32" data-colours='["red", "#f0f0f0"]'>{{.MemInfo.SwapUsedPerc}}/100</span>
						<span>&nbsp;{{.MemInfo.SwapFreePerc}}% available</span></td>
				</tr>
			</table>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<h1>Filesystem</h1>
			<table class="table">
				{{range .Filesystems}}
				<tr>
					<th>{{.MountPoint}}</th>
					<td><span class="pie" data-diameter="32" data-colours='["red", "#f0f0f0"]'>{{.UsedPerc}}/100</span>
						&nbsp;{{.UsedPerc}}% used</td>
				</tr>
				{{end}}
			</table>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4">
			<h1>Network</h1>
			<table class="table">
				{{range .Interfaces}}{{if ne .Address "-"}}
				<tr><th>{{.Name}}</th><td>{{.Address}}</td></tr>
				{{end}}{{end}}
			</table>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4">
			<h1>MPD</h1>
			{{if .MpdStatus}}
			<table class="table">
				<tr>
					<th>State:</th>
					<td>{{.MpdStatus.state}}</td>
				</tr>
			</table>
			{{else}}
			<p>Missing data</p>
			{{end}}
		</div>
	</div>
</div>
<script src="/static/lib/jquery/jquery.peity.js" type="text/javascript" ></script>

<script type="text/javascript">
	function refresh() {
		window.location.reload(true);
	};

	$(function() {
		$("span.pie").peity("pie")
		//setTimeout(refresh, 60000);
	});
</script>

{{end}}
