{{define "body"}}
<div class="pure-u-1" id="actions-sect">
	<section>
		<h2>Actions</h2>
		<div class="pure-menu pure-menu-open">
		<ul>
			<li class="pure-menu-heading"><strong>Tools</strong></li>
			<li><a href="/mpd/action/update" onclick="return lconfirm()">Update</a></li>
		</ul>
		</div>
	</section>
</div>

<script type="text/javascript">
	function lconfirm() {
		return confirm('Are you sure?');
	}
</script>


{{end}}
