{{define "body"}}
<div class="pure-u-1">
		<h1>MPD</h1>
</div>

<div class="pure-u-1" id="error-msg-box">
	<div class="warnings">
		<p id="error-msg">Loading...</p>
	</div>
</div>

<div class="pure-u-1" id="buttons-sect">
	<section>
		<a class="pure-button ui-state-default" href="#" data-action="prev"><span class="ui-icon ui-icon-seek-prev"></span></a>
		<a class="pure-button ui-state-default" href="#" data-action="play"><span class="ui-icon ui-icon-play"></span></a>
		<a class="pure-button ui-state-default" href="#" data-action="pause"><span class="ui-icon ui-icon-pause"></span></a>
		<a class="pure-button ui-state-default" href="#" data-action="stop"><span class="ui-icon ui-icon-stop"></span></a>
		<a class="pure-button ui-state-default" href="#" data-action="next"><span class="ui-icon ui-icon-seek-next"></span></a>
	</section>
</div>

<div class="pure-u-1" id="currsong-sect">
	<section>
		<h2>Current song</h2>
		<table class="pure-table table-left-align">
			<tr>
				<th>Name</th>
				<td id="curr-name">&nbsp;</td>
			</tr>
			<tr>
				<th>Artist</th>
				<td id="curr-artist">&nbsp;</td>
			</tr>
			<tr>
				<th>Title</th>
				<td id="curr-title">&nbsp;</td>
			</tr>
			<tr>
				<th>Album</th>
				<td id="curr-album">&nbsp;</td>
			</tr>
			<tr>
				<th>Track</th>
				<td id="curr-track">&nbsp;</td>
			</tr>
			<tr>
				<th>Date</th>
				<td id="curr-date">&nbsp;</td>
			</tr>
			<tr>
				<th>Time</th>
				<td id="curr-time">&nbsp;</td>
			</tr>
			<tr>
				<th>Genre</th>
				<td id="curr-genre">&nbsp;</td>
			</tr>
			<tr>
				<th>File</th>
				<td id="curr-file">&nbsp;</td>
			</tr>
		</table>
	</section>
</div>

<div class="pure-u-1" id="status-sect">
	<section>
		<h2>Status</h2>
		<table class="pure-table table-left-align">
			<tr>
				<th>State</th>
				<td id="st-state">&nbsp;</td>
			</tr>
			<tr>
				<th>Time</th>
				<td><span id="st-time">&nbsp;</span>
					<div id="slider-song-pos" style="width: 200px"></div>
				</td>
			</tr>
			<tr>
				<th>Audio</th>
				<td id="st-audio">&nbsp;</td>
			</tr>
			<tr>
				<th>Bitrate</th>
				<td id="st-bitrate">&nbsp;</td>
			</tr>
			<tr>
				<th>Random</th>
				<td>
					<a class="ajax-action" href="#" data-action="toggle_random" id="st-random">Toggle</a>
				</td>
			</tr>
			<tr>
				<th>Repeat</th>
				<td>
					<a class="ajax-action" href="#" data-action="toggle_repeat" id="st-repeat">Toggle</a>
				</td>
			</tr>
			<tr>
				<th>Volume</th>
				<td><span id="st-volume">&nbsp;</span>
					<div id="slider-volume" style="width: 150px;"></div>
				</td>
			</tr>
		</table>
	</section>
</div>

<div class="pure-u-1" id="actions-sect">
	<section>
		<h2>Actions</h2>
		<div class="pure-menu pure-menu-open">
		<ul>
			<li class="pure-menu-heading"><strong>Tools</strong></li>
			<li><a href="/mpd/action/update" onclick="return lconfirm()">Update</a></li>
		</ul>
		</div>
	</section>
</div>

<script src="/static/lib/jquery/jquery-ui-1.10.3.custom.min.js" type="text/javascript" ></script>
<script src="/static/js/mpd-index.js" type="text/javascript" ></script>

<script type="text/javascript">
	function lconfirm() {
		return confirm('Are you sure?');
	}

	$(MPD.init);
</script>


{{end}}
