{{define "body"}}

{{if .Error}}
<div class="container" id="error-msg-box">
	<div class="alert alert-warning">
		<p id="error-msg"></p>
	</div>
</div>

{{else}}

<div class="container">
	<p class="breadcrumb">{{if .Path}}{{.Path}}{{else}}<i>Library</i>{{end}}</p>
	{{$path := .Path}}
	{{$ml := namedurl "mpd-library"}}
	<p>
		{{if .Path}}
		<a class="btn btn-default btn-sm" href="{{$ml}}?a=up&p={{$path}}" role="button">Go Up</a>
		{{end}}
	</p>
	<div class="">
		<table class="table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th>Name</th>
					<th width="48px">Actions</th>
				</tr>
			</thead>
			<tbody>
			{{range .Folders}}
				<tr>
					<td><span class="glyphicon glyphicon-folder-close"></span><a href="{{$ml}}?p={{$path}}/{{.}}">&nbsp;{{.}}</a></td>
					<td>
						<a href="#" class="action" data-action="add" data-uri="{{$path}}/{{.}}"><span class="glyphicon glyphicon-plus" title="Add"></a>
						&nbsp; 
						<a href="#" class="action" data-action="replace" data-uri="{{$path}}/{{.}}"><span class="glyphicon glyphicon-play" title="Replace"></a>
					</td>
				</tr>
			{{end}}
			{{range .Files}}
				<tr>
					<td><span class="glyphicon glyphicon-file"></span>&nbsp;{{.}}</td>
					<td>
						<a href="#" class="action" data-action="add" data-uri="{{$path}}/{{.}}"><span class="glyphicon glyphicon-plus" title="Add"></a>
						&nbsp; 
						<a href="#" class="action" data-action="replace" data-uri="{{$path}}/{{.}}"><span class="glyphicon glyphicon-play" title="Replace"></a>
					</td>
				</tr>
			{{end}}
			</tbody>
		</table>
	</div>
</div>

<div class="container">
	<section>
		<p>
			<a class="btn btn-default action" data-action="add" data-uri="{{.Path}}" role="button">Add this folder</a>
			<a class="btn btn-default action" data-action="replace" data-uri="{{.Path}}" role="button">Clear playlist and this folder</a>
			&nbsp;
			<a class="btn btn-default" href="{{namedurl "mpd-control" "action" "update"}}" onclick="return RPI.confirm()" role="button">Update Library</a></li>
		</p>
	</section>
</div>

<script src="/static/lib/jquery/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/js/mpd_library.js" type="text/javascript" ></script>
<script type="text/javascript">
	$(function() {
		$('table').dataTable({
			"bAutoWidth": false,
			"bStateSave": true,
			"iDisplayLength": 15,
			"aLengthMenu": [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
		});
		var ctrlUrl = "{{namedurl "mpd-control" "action" "-"}}";
		ctrlUrl = ctrlUrl.substring(0, ctrlUrl.length - 2);
		MPD.library.init(ctrlUrl, "{{namedurl "mpd-service-info"}}");
	});
</script>

{{end}}

{{end}}
