{{define "body"}}

<div class="pure-u-1">
	<section>
		<h1>MPD Library</h1>

		{{if .Error}}
		<div class="warnings">
			<p>Connection error:<br/>{{.Error}}</p>
		</div>
		{{else}}
		{{if .Path}}
		<h2>{{.Path}}</h2>
		{{else}}
		<h2>Library</h2>
		{{end}}
		{{$path := .Path}}
		<p>
			{{if .Path}}
			<a class="pure-button" href="/mpd/library?a=up&p={{$path}}">Go Up</a>
			{{end}}
			<a class="pure-button" href="/mpd/library?a=add&u={{$path}}&p={{$path}}">Add this folder</a>
			<a class="pure-button" href="/mpd/library?a=replace&u={{$path}}&p={{$path}}">Clear playlist and this folder</a>
		</p>
		<table class="pure-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{{range .Folders}}
				<tr>
					<td><a href="/mpd/library?p={{$path}}/{{.}}">[ {{.}} ]</a></td>
					<td>
						<a href="/mpd/library?a=add&u={{$path}}/{{.}}&p={{$path}}">Add</a>
						| 
						<a href="/mpd/library?a=replace&u={{$path}}/{{.}}&p={{$path}}">Replace</a>
					</td>
				</tr>
			{{end}}
			{{range .Files}}
				<tr>
					<td>{{.}}</td>
					<td>
						<a href="/mpd/library?a=add&u={{$path}}/{{.}}&p={{$path}}">Add</a>
						|
						<a href="/mpd/library?a=replace&u={{$path}}/{{.}}&p={{$path}}">Replace</a>
					</td>
				</tr>
			{{end}}
			</tbody>
		</table>
		{{end}}
	</section>
</div>

<script src="/static/lib/jquery/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('table').tablesorter({
			ignoreCase: true,
		});
	});
</script>


{{end}}
