{{define "body"}}

<div class="pure-u-1">
	<section>
		<h1>MPD Current Playlists</h1>

		{{if .Error}}
		<div class="warnings">
			<p>Connection error:<br/>{{.Error}}</p>
		</div>
		{{else}}
		<table class="pure-table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
			{{range .Playlists}}
				<tr>
					<td>{{.playlist}}</td>
					<td><a href="/mpd/playlist/{{.playlist}}/play">Play</a> 
					</td>
				</tr>
			{{end}}
			</tbody>
		</table>
		{{end}}
	</section>
</div>

<script src="/static/lib/jquery/jquery.tablesorter.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('table').tablesorter({
			ignoreCase: true,
		});
	});
</script>

{{end}}
