{{define "body"}}

<div class="container">
	<div class="alert alert-danger" id="main-alert" style="display: none;">
		<p>Error loading playlist: <em id="main-alert-error"></em></p>
		<a href="#" class="alert-link" onclick="location.reload()">Reload</a>
	</div>
</div>

<div class="container playlist-data">
	<table class="table table-hover table-bordered table-condensed" id="table-mpd-playlist">
		<thead>
			<tr>
				<th>
					<div class="row">
						<span class="col-title col-sm-6 col-xs-12 col-md-5">Title</span>
						<span class="col-artist col-sm-6 col-xs-12 col-md-3">Artist</span>
						<span class="col-track col-sm-2 col-xs-3 col-md-1">Track</span>
						<span class="col-album col-sm-10 col-xs-9 col-md-3">Album</span>
					</div>
				</th>
				<th style="max-width: 50px"></th>
			</tr>
		</thead>
		<tbody id="playlist-tbody">
		</tbody>
	</table>
	<p>
		<a class="btn btn-default btn-sm" href="#" onclick="MPD.plist.gotoCurrentSong()">
			<span class="glyphicon glyphicon-share-alt"></span>&nbsp;Go to current</a>
		<a class="btn btn-danger btn-sm" href="{{namedurl "mpd-pl-action" "action" "clear"}}" onclick="return RPI.confirm()">
			<span class="glyphicon glyphicon-remove"></span>&nbsp;Clear playlst</a>
		<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#save-playlist-dlg">
			<span class="glyphicon glyphicon-save"></span>&nbsp;Save playlist</button>
		<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-custom-dlg">
			<span class="glyphicon glyphicon-plus"></span>&nbsp;Add custom URL</button>
	</p>
</div>

<div class="modal fade" id="save-playlist-dlg" tabindex="-1" role="dialog" aria-labelledby="save-playlist-dlg-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="save-playlist-dlg-label">Save playlist</h4>
			</div>
			<form action="{{namedurl "mpd-pl-save"}}" method="post" class="form-inline" role="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="save-playlist-name">Playlist name</label>
						<input type="text" name="Name" id="save-playlist-name" class="form-control" required/>
					</div>
					<input type="hidden" name="CsrfToken" id="" value="{{.CsrfToken}}" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-loading-text="Creating..">Save</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add-custom-dlg" tabindex="-1" role="dialog" aria-labelledby="add-custom-dlg-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="add-custom-dlg-label">Add custom URL to playlist</h4>
			</div>
			<form action="{{namedurl "mpd-pl-add"}}" method="post" class="form-inline" role="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="add-custom-uri">URI:</label>
						<input type="text" name="Uri" id="add-custom-uri" class="form-control" required/>
					</div>
					<input type="hidden" name="CsrfToken" id="" value="{{.CsrfToken}}" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-loading-text="Creating..">Add</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{end}}

{{define "scripts"}}
<script src="/static/js/mpd_playlist.js" type="text/javascript" ></script>
<script src="/static/lib/jquery/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/lib/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$("#main-alert").hide();
		MPD.plist.init();
	});
</script>


{{end}}
