{{define "body"}}
{{$ctx := . }}
<div class="container">
	<div class="row row-centered">
		<div class="col-xs-12">
			<form method="post" class="form" role="form">
				<div class="form-group col-xs-4">
					<label for="form-any">Any</label>
					<input type="text" name="Form.Any" id="form-any" class="form-control" placeholder="Any" value="{{.Form.Any}}"/>
				</div>
				<div class="form-group col-xs-2">
					<label for="form-artist">Artist</label>
					<input type="text" name="Form.Artist" id="form-artist" class="form-control" placeholder="Artist" value="{{.Form.Artist}}"/>
				</div>
				<div class="form-group col-xs-2">
					<label for="form-aartist">Album Artist</label>
					<input type="text" name="Form.AlbumArtist" id="form-aartist" class="form-control" placeholder="Album Artist" value="{{.Form.AlbumArtist}}"/>
				</div>
				<div class="form-group col-xs-3">
					<label for="form-title">Title</label>
					<input type="text" name="Form.Title" id="form-title" class="form-control" placeholder="Title" value="{{.Form.Title}}"/>
				</div>
				<div class="form-group col-xs-3">
					<label for="form-album">Album</label>
					<input type="text" name="Form.Album" id="form-album" class="form-control" placeholder="Album"  value="{{.Form.Album}}"/>
				</div>
				<div class="form-group col-xs-1">
					<label for="form-track">Track</label>
					<input type="text" name="Form.Track" id="form-track" class="form-control" placeholder="Track"  value="{{.Form.Track}}"/>
				</div>
				<div class="form-group col-xs-2">
					<label for="form-genre">Genre</label>
					<input type="text" name="Form.Genre" id="form-genre" class="form-control" placeholder="Genre"  value="{{.Form.Genre}}"/>
				</div>
				<div class="form-group col-xs-3">
					<label for="form-filename">File name</label>
					<input type="text" name="Form.Filename" id="form-filename" class="form-control" placeholder="File name"  value="{{.Form.Filename}}"/>
				</div>
				<div class="form-group col-xs-3">
				<input type="hidden" name="CsrfToken" id="" value="{{.CsrfToken}}" />
				<button type="submit" class="btn btn-primary" data-loading-text="Searching..">Search</button>
				</div>
			</form>
		</div>
		<div class="col-xs-12">
			<table class="table table-hover table-bordered table-condensed" id="table-files-browser">
				<thead>
					<tr>
						<th>Title</th>
						<th>Artist</th>
						<th>Track</th>
						<th>Album</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{{range .Result}}
					<tr data-uri="{{.file}}">
						<td>{{.Title}}</td>
						<td>{{.Artist}}</td>
						<td>{{.Track}}</td>
						<td>{{.Album}}</td>
						<td>
							<a href="#" class="add-file-action"><span class="glyphicon glyphicon-plus" title="Add"></span></a>
							<a href="#" class="info-file-action"><span class="glyphicon glyphicon-info-sign" title="Info"></a>
						</td>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
</div>
{{end}}

{{define "scripts"}}
<script src="/static/lib/jquery/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/lib/jquery/jstree.js" type="text/javascript"></script>
<script src="/static/lib/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="/static/js/mpd_search.js" type="text/javascript"></script>
<script type="text/javascript">

	$(function() {
		MPD.search.init({
			"urls": {
				"mpd-service-song-info" : {{namedurl "mpd-service-song-info"}},
				"mpd-file" : {{namedurl "mpd-file"}}
			}
		});
	});
</script>
{{end}}
