body {
    background-color: #f8f8f8;
	font-size: 10pt;
}
pre {
	background: #fafafa;
	border: 1px solid #eee;
	padding: 0.5em;
	white-space: pre;
	font-size: 9pt;
}


label {
    font-weight: bold;
}


.playlist-current-song {
    font-weight: bold;
}

td.service-status {
    text-align: center;
}


.service-running {
    color: green;
    font-weight: bold;
}

.service-stopped {
    color: red;
}

.service-unknown {
    color: gray;
}

table.table-centered td {
    text-align: center;
}

table.table-centered th {
    text-align: center;
}

table.table-left-align td {
    text-align: left;
}

table.table-left-align th {
    text-align: left;
}

hr {
	color: #eee;
	margin: 1em 5em;
}

dl.inline-dl dt {
	float: left;
	width: 6em;
}

dl.inline-dl dd {
	float: none;
	margin-bottom: 2em;
	margin-left: 7em;
	display: block;
	clear: right;
}

div.big-chart {
	float: left;
	margin-right: 1em;
}

div.chart-box {
	border: 1px solid #e0e0e0;
	width: 258px;
	height: 51px;
	margin: 5px auto;
	padding: 0px;
}

div.chart-box-half {
	border: 1px solid #e0e0e0;
	width: 258px;
	height: 26px;
	margin: 5px auto;
	padding: 0px;
}



div.mpd-buttons-sect,
div.mpd-info-section {
	margin: 2em auto;
	text-align: center;
}


#song-box #curr-name {
	font-size: 20pt;
	font-weight: bold;
}

#song-box #curr-artist {
	font-size: 16pt;
	font-weight: bold;
}

#song-box #curr-title {
	font-size: 20pt;
	font-weight: bold;
}

#song-box #curr-genre,
#song-box #curr-date {
	font-size: 9pt;
}

#mpd-sliders-pos #pos-info,
#mpd-sliders-vol #volume {
	margin: 0 auto;
	width: 75%;
	font-size: 10pt;
}

#mpd-sliders-vol #volume #st-volume,
#mpd-sliders-pos #pos-info #curr-time {
	float: right;
	text-align: right;
}
#mpd-sliders-vol #volume #volume-label,
#mpd-sliders-pos #pos-info #st-time {
	float: left;
	text-align: left;
}

div#additional-info {
	font-size: 9pt;
	text-align: left;
	margin: 6em auto;
}

.btn .button-label {
	font-size: 8pt;
}

footer {
	margin-top: 30px;
	padding-top: 10px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.row div.col-xs-12 {
	margin-bottom: 20px;
}

div.pager input {
	border: none;
	width: 60px;
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
}

.alert {
	font-size: 11pt;
	font-weight: bold;
}

#local-menu {
	margin-bottom: 20px;
}

.dataTables_wrapper table {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dataTables_wrapper .dataTables_filter input {
	font-size: 8pt;
}

span.col-track,
span.col-album {
	font-size: 80%;
}
span.col-title {
	font-weight: bold;
}


table#table-files-browser,
table#table-services,
table#table-mpd-library,
table#table-mpd-playlist,
table#table-mpd-playlists {
	min-width: 75%;
}

@media(max-width:767px){
	span.x-hidden-xs {
		display: none !important;
	}
	table#table-files-browser,
	table#table-services,
	table#table-mpd-library,
	table#table-mpd-playlist,
	table#table-mpd-playlists {
		width: 100%;
	}
}

table#table-services tr.active {
	font-weight: bold;
}

div#loading-box {
	position: absolute;
	overflow: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -990;
	background-color: #000;
}

div#loading-box .loading-wrapper {
	position: absolute;
	overflow: hidden;
	top: 100px;
	width: 150px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
	background-color: white;
	box-shadow: 0 0 5px #444;
//	z-index: 1000;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	border-color: #c0c0c0;
	text-align: center;
}

div#loading-box p {
	overflow: hidden;
	font-size: 150%;
	color: black;
	font-weight: bold;
	z-index: 1001;
	opacity: 1;
	margin: 1em;
}

#flash-container {
	overflow: none;
	z-index: 1100;
	position:  absolute;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
}

.panel-heading .panel-title a {
	float: right;
	display: block;
}

#page-wrapper {
	padding-top: 10px;
}

.empty-icon {
	display: inline-block;
	width: 1em;
	content: "&nbsp;";
	position: relative;
	top: 1px;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}

.nav .active > a {
	font-weight: bold;
}
