

html {
	font-size: 12pt;
	line-height: 120%;
}

pre {
	background: #fafafa;
	border: 1px solid #eee;
	padding: 0.5em;
	white-space: pre;
}

div.warnings {
	background: #ffff55;
	padding: 0.3em 1em;
	border-radius: 3px 3px 3px 3px;
	margin: 1em;
}

div.errors {
	background: #f00;
	padding: 0.3em 1em;
	border-radius: 3px 3px 3px 3px;
	margin: 1em;
}

div.info {
	background: #1F8DD6;
	color: white;
	padding: 1em;
	border-radius: 3px 3px 3px 3px;
	margin: 1em;
}

div.info  div.infoheader {
	font-weight: bold;
	text-align: right;
}


label {
    font-weight: bold;
}


div.pure-menu-horizontal {
    border-bottom: 1px solid #bbb !important;
    margin-bottom: 1.5em;
    float: clear;
}

.playlist-current-song {
    background-color: yellow;
    font-weight: bold;
}

td.service-status {
    text-align: center;
}


.service-running {
    color: green;
    font-weight: bold;
}

.service-stopped {
    color: red;
}

.service-unknown {
    color: gray;
}

table.table-centered td {
    text-align: center;
}

table.table-centered th {
    text-align: center;
}

table.table-left-align td {
    text-align: left;
}

table.table-left-align th {
    text-align: left;
}


hr {
	color: #eee;
	margin: 1em 5em;
}
dl.inline-dl {
	display: block;
	float: clear;
}

dl.inline-dl dt {
	float: left;
	width: 6em;
}

dl.inline-dl dd {
	float: clear;
	margin-bottom: 2em;
	margin-left: 7em;
	display: block;
	clear: right;
}

div.big-chart {
	float: left;
	margin-right: 1em;
}

div.chart-box {
	border: 1px solid #e0e0e0;
	width: 282px;
	height: 52px;
	margin: 5px 0;
	padding: 1px;
}


div.mpd-buttons-sect,
div.mpd-info-section {
	margin: 1.5em auto;
	text-align: center;
}


#song-box #curr-name {
	font-size: 20pt;
	font-weight: bold;
}

#song-box #curr-artist {
	font-size: 16pt;
	font-weight: bold;
}

#song-box #curr-title {
	font-size: 20pt;
	font-weight: bold;
}

#song-box #curr-genre,
#song-box #curr-date {
	font-size: 9pt;
}

#mpd-sliders-pos #pos-info,
#mpd-sliders-vol #volume {
	margin: 0 auto;
	width: 300px;
	font-size: 10pt;
}

#mpd-sliders-vol #pos-info #slider-song-pos,
#mpd-sliders-vol #volume #slider-volume {
	width: 300px;
}

#mpd-sliders-vol #volume #st-volume,
#mpd-sliders-pos #pos-info #curr-time {
	width: 140px;
	float: right;
	text-align: right;
}
#mpd-sliders-vol #volume #volume-label,
#mpd-sliders-pos #pos-info #st-time {
	width: 140px;
	float: left;
	text-align: left;
}

div#additional-info {
	font-size: 9pt;
	text-align: left;
	margin: 6em auto;
}

@media (max-width: 500px) {
	#mpd-sliders-pos #pos-info,
	#mpd-sliders-vol #volume {
		margin: 0 auto;
		width: 280px;
		font-size: 10pt;
	}

	#mpd-sliders-vol #pos-info #slider-song-pos,
	#mpd-sliders-vol #volume #slider-volume {
		width: 280px;
	}

	#mpd-sliders-vol #volume #st-volume,
	#mpd-sliders-pos #pos-info #curr-time {
		width: 100px;
		float: right;
		text-align: right;
	}
	#mpd-sliders-vol #volume #volume-label,
	#mpd-sliders-pos #pos-info #st-time {
		width: 100px;
		float: left;
		text-align: left;
	}
}

.btn .button-label {
	font-size: 8pt;
}

