{{define "body"}}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Notepad</h1>
	</div>
</div>

<div class="row text-right">
	<div class="col-lg-12">
		<button class="btn btn-default" data-toggle="modal" data-target="#create-note-dlg">New note</button>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<table class="table table-hover table-bordered table-condensed" id="table-services">
			<thead>
				<tr>
					<th>Filename</th>
					<th style="width: 48px">Action</th>
				</tr>
			</thead>
			<tbody>
			{{range .NoteList}}
				<tr>
					<td><a href="{{namedurl "notepad-note" "note" .Filename}}">{{.Filename}}</a></td>
					<td>
						<a href="{{namedurl "notepad-note" "note" .Filename}}" title="Open"><span class="glyphicon glyphicon-open"></span></a>
						<a href="{{namedurl "notepad-download" "note" .Filename}}" title="Download"><span class="glyphicon glyphicon-save"></span></a>
						<a href="{{namedurl "notepad-delete" "note" .Filename}}" onclick="return confirm('Delete?');" title="Delete"><span class="glyphicon glyphicon-remove"></span></a>
					</td>
				</tr>
			{{end}}
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="create-note-dlg" tabindex="-1" role="dialog" aria-labelledby="create-note-dlg-label" aria-hidden="true">
	<div class="modal-dialog dialog-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="create-note-dlg-label">Create new note</h4>
			</div>
			<form action="{{namedurl "notepad-note" "note" "new"}}" method="get" class="form-horizontal" role="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="note-name" class="col-sm-2 control-label">File name: </label>
						<div class="col-sm-10">
							<input type="text" name="name" id="note-name" class="form-control" placeholder="Note name" required />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-loading-text="Creating..">Create</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{{end}}


{{define "scripts"}}
<script src="/static/lib/jquery/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/lib/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('table').dataTable({
			"bAutoWidth": false,
			"bStateSave": true,
//			"sPaginationType": "bootstrap",
			"iDisplayLength": 15,
			"aLengthMenu": [[15, 25, 50, 100, -1], [15, 25, 50, 100, "All"]],
		});
		$('#create-note-dlg form').submit(function(e) {
			$(this).attr("action", $(this).attr("action").replace("new", $("#note-name").val()));
		});
	});
</script>
{{end}}
