{{define "body"}}
{{$ctx := . }}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Files</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-8">
		<ol class="breadcrumb" id="breadcrumb"></ol>
	</div>
	<div class="col-xs-12 col-md-4 text-right">
		<div class="btn-group btn-group-sm">
			<button class="btn btn-default" data-toggle="modal" data-target="#create-folder-dlg">Create directory</button>
			<button class="btn btn-default" data-toggle="modal" data-target="#upload-dlg">Upload</button>
		</div>
	</div>
</div>

<div class="row row-centered">
	<div class="col-xs-12">
		<table class="table table-hover table-bordered table-condensed" id="table-files-browser">
			<thead>
				<tr>
					<th width="16px"></th>
					<th>Filename</th>
					<th>Size</th>
					<th>Date</th>
					<th>A.</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>

<div class="modal fade" id="create-folder-dlg" tabindex="-1" role="dialog" aria-labelledby="create-folder-dlg-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="create-folder-dlg-label">Create directory</h4>
			</div>
			<form action="{{namedurl "files-mkdir"}}" method="post" class="form-inline" role="form">
				<div class="modal-body">
					<div class="form-group">
						<label for="folder-name">Folder name</label>
						<input type="text" name="name" id="folder-name" class="form-control" placeholder="Directory name" required />
					</div>
					<input type="hidden" name="CsrfToken" id="" value="{{.CsrfToken}}" />
					<input type="hidden" name="p" id="" value="" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary" data-loading-text="Creating..">Create</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="upload-dlg" tabindex="-1" role="dialog" aria-labelledby="upload-dlg-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="upload-dlg-label">Upload file</h4>
			</div>
			<form action="{{namedurl "files-upload"}}" method="post" enctype="multipart/form-data" class="form-inline">
				<div class="modal-body">
					<input type="file" name="upload" />
					<input type="hidden" name="CsrfToken" id="" value="{{.CsrfToken}}" />
					<input type="hidden" name="p" id="" value="" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" value="Upload" class="btn btn-primary"/>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="dialog-dirtree" role="dialog" aria-labelledby="dialog-dirtree-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="dialog-dirtree-label">&nbsp;</h4>
			</div>
			<div class="modal-body">
				<div id="dialog-dirtree-msg"></div>
				<div id="dialog-dirtree-tree"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn" data-dismiss="modal" id="dialog-dirtree-cancel">Close</button>
				<button type="button" class="btn btn-primary" id="dialog-dirtree-success">Yes</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{{end}}

{{define "scripts"}}
<script src="/static/lib/jquery/jquery.dataTables.js" type="text/javascript"></script>
<script src="/static/lib/jquery/jstree.js" type="text/javascript"></script>
<script src="/static/lib/dataTables.bootstrap.js" type="text/javascript"></script>
<script src="/static/js/files.js" type="text/javascript"></script>
<script type="text/javascript">

	$(function() {
		FILES.browser.init({
			urls: {
				"service-dirs": "{{namedurl "files-serv-dirs"}}",
				"service-files": "{{namedurl "files-serv-files"}}",
				"file-action": "{{namedurl "files-file-action"}}",
			},
		});
	});
</script>
{{end}}
