{{define "body"}}

<div class="container">
	<h1>Mount</h1>
	<pre>{{.Data}}</pre>
</div>

<div class="container">
	<h2>Umount</h2>
	<form action="{{namedurl "storage-umount"}}" method="POST">
		<fieldset>
			<label for="fs">File system</label>
			<select name="fs" id="fs">
			{{range .Mounted}}
				<option value="{{.Mpoint}}">{{.Mpoint}} ({{.Device}}, {{.Type}})</option>
			{{end}}
			</select>
			<button type="submit" class="btn btn-primary">Umount</button>
			<input type="hidden" name="BasePageContext.CsrfToken" id="" value="{{.CsrfToken}}" />
		</fieldset>
	</form>
</div>

{{end}}
