{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Lorem Ipsum</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/pure-min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all" />
		<script src="/static/lib/jquery/jquery-1.10.2.min.js"></script>
		<script src="/static/lib/jquery/jquery-ui-1.10.3.custom.min.js"></script>
	</head>
	<body>
		<div class="pure-g-r" id="layout">
			<div class="sidebar pure-u">
				<header class="header">
					<hgroup class="hgroup">
						<h1><a class="pure-menu-heading" href="#">{{.BasePageContext.Hostname}}</a></h1>
						<h2></h2>
					</hgroup>
					<nav class="nav">
					<ul  class="nav-list">
						{{if .BasePageContext.CurrentUser}}
						<li class="nav-item nav-item-selected">
							<a class="" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="" href="/net/">Network</a>
						</li>
						<li class="nav-item"><a>&nbsp;</li>
						<li class="nav-item"><a class="" href="/auth/logoff">Logout</a> </li>
						{{else}}
						<li class="nav-item"><a class="" href="/auth/login">Login</a> </li>
						{{end}}
					</ul>
					</nav>
				</header>
			</div><!-- end sidebar -->
			<div class="pure-u-1">
				<div class="content">
					{{if .BasePageContext.LocalMenu}}
					<div class="pure-u-1">
						<div class="pure-menu pure-menu-open pure-menu-horizontal">
							<ul>
								{{$current := .BasePageContext.CurrentLocalMenuPos}}
								{{range .BasePageContext.LocalMenu}}
									<li class="{{if eq . $current}}pure-menu-selected {{end}}">
										<a href="{{.}}" >{{.}}</a>
									</li>
								{{end}}
							</ul>
						</div>
					</div>
					{{end}}
					{{template "flash" .}}
					<div class="pure-g-r content-ribbon">
					{{template "body" .}}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
{{end}}
