{{define "base"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.Title}} - {{.BasePageContext.Hostname}} - Monitor</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/tablesorter.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/pure-min.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/static/css/jquery.fs.naver.css" type="text/css" media="all" />
		<script src="/static/lib/jquery/jquery-1.10.2.min.js" type="text/javascript" ></script>
		<script src="/static/lib/jquery/jquery.fs.naver.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="pure-g-r" id="layout">
			<div class="sidebar pure-u">
				<header class="header">
					<hgroup class="hgroup">
						<h1><a class="pure-menu-heading" href="/">Monitor</a></h1>
						<h2>{{.BasePageContext.Hostname}}</h2>
					</hgroup>
					<nav class="nav">
						<ul class="nav-list">
							{{$current := .BasePageContext.CurrentMainMenuPos}}
							{{range .BasePageContext.MainMenu}}
							<li class="nav-item{{if eq .ID $current}} nav-item-selected{{end}}">
								<a class="" href="{{.Href}}">{{.Title}}</a>
							</li>
							{{end}}
						</ul>
					</nav>
				</header>
			</div><!-- end sidebar -->
			<div class="pure-u-1">
				<div class="content">
					{{if .BasePageContext.LocalMenu}}
					<div class="pure-u-1" id="local-menu">
						<div class="pure-menu pure-menu-open pure-menu-horizontal">
							<ul>
								{{$currentl := .BasePageContext.CurrentLocalMenuPos}}
								{{range .BasePageContext.LocalMenu}}
									<li class="{{if eq .ID $currentl}}pure-menu-selected {{end}}">
										<a href="{{.Href}}" >{{.Title}}</a>
									</li>
								{{end}}
							</ul>
						</div>
					</div>
					{{end}}
					{{template "flash" .}}
					<div class="pure-g-r content-ribbon">
					{{template "body" .}}
					</div>
				</div>
			</div>
			<div class="pure-u-1">
				<footer class="footer">
					<br/>
					<hr/>
					<p><small>{{.Now}} | {{.CurrentUser}} | RPIMON v0.3</small></p>
				</footer>
			</div>
		</div>
	</body>
	<script type="text/javascript" charset="utf-8">
		$(function() {
			$("nav").naver({label: false});
			$("#local-menu").naver();
			$(window).on("resize", function(e) {
			    $(".naver").trigger("close.naver");
			});
		});
	</script>
</html>
{{end}}
