{{define "flash"}}
{{$flash := .GetFlashMessage}}
<div>
	<div id="flash-container">
		<div class="alert alert-error alert-dismissable" id="flash-error" {{if not $flash.error}} style="display: none;"{{end}}>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<ul>
			{{if $flash.error}}
			{{range $flash.error}}
				<li>{{.}}</li>
			{{end}}
			{{end}}
			</ul>
		</div>
		<div class="alert alert-info alert-dismissable" id="flash-info"{{if not $flash.info}} style="display: none;"{{end}}>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<ul>
			{{if $flash.info}}
			{{range $flash.info}}
				<li>{{.}}</li>
			{{end}}
			{{end}}
			</ul>
		</div>
		<div class="alert alert-success alert-dismissable" id="flash-success"{{if not $flash.success}} style="display: none;"{{end}}>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<ul>
			{{if $flash.success}}
			{{range $flash.success}}
				<li>{{.}}</li>
			{{end}}
			{{end}}
			</ul>
		</div>
	</div>
</div>
{{end}}
