{{define "pager"}}
<!-- PAGER -->
<div id="pager" class="pager form-inline">
	<form>
		<button type="button" class="btn btn-default btn-xs" id="first-page"><span class="glyphicon glyphicon-step-backward"></span></button>
		<button type="button" class="btn btn-default btn-xs" id="prev-page"><span class="glyphicon glyphicon-chevron-left"></span></button>
		&nbsp;
		<input type="text" id="page-display" readonly="readonly"></input>
		&nbsp;
		<button type="button" class="btn btn-default btn-xs" id="next-page"><span class="glyphicon glyphicon-chevron-right"></span></button>
		<button type="button" class="btn btn-default btn-xs" id="last-page"><span class="glyphicon glyphicon-step-forward"></span></button>
		&nbsp;
		<select id="page-size" class="form-control input-sm">
			<option selected="selected" value="20">20</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select>
	</form>
</div>
<script src="/static/lib/jquery/jquery.tablesorter.pager.js" type="text/javascript"></script>
<script type="text/javascript">
	function addPager(obj, page) {
		obj.tablesorterPager({
			container: $("#pager"),
			positionFixed: false,
			size: 20,
			page: page || 0,
			cssNext: "#next-page",
			cssPrev: "#prev-page",
			cssFirst: "#first-page",
			cssLast: "#last-page",
			cssPageDisplay: '#page-display',
			cssPageSize: '#page-size',
		});
	};
</script>
<!-- PAGER END -->
{{end}}
