
{{define "body"}}

<div class="container">
	<h1>Services</h1>
	<table class="table table-hover table-bordered table-condensed">
		<thead>
			<tr>
				<th>Service</th>
				<th>Status</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		{{range $key, $val := .Services}}
			<tr>
				<td>{{$key}}</td>
				<td>{{$val}}</td>
				<td><a href="services/{{$key | urlquery}}/start" onclick="return RPI.confirm()">start</a> |
				<a href="services/{{$key | urlquery}}/stop" onclick="return RPI.confirm()">stop</a> |
				<a href="services/{{$key | urlquery}}/restart" onclick="return RPI.confirm()">restart</a> |
				<a href="services/{{$key | urlquery}}/reload" onclick="return RPI.confirm()">reload</a> |
				<a href="services/{{$key | urlquery}}/force-reload" onclick="return RPI.confirm()">force-reload</a>
				</td>
			</tr>
		{{end}}
		</tbody>
	</table>
	<div id="pager" class="pager">
		<form>
			<button type="button" class="btn btn-default btn-xs first"><span class="glyphicon glyphicon-step-backward"></span></button>
			<button type="button" class="btn btn-default btn-xs prev"><span class="glyphicon glyphicon-chevron-left"></span></button>
			&nbsp;
			<input type="text" class="pagedisplay"></input>
			&nbsp;
			<button type="button" class="btn btn-default btn-xs next"><span class="glyphicon glyphicon-chevron-right"></span></button>
			<button type="button" class="btn btn-default btn-xs last"><span class="glyphicon glyphicon-step-forward"></span></button>
			&nbsp;
			<select class="pagesize">
				<option selected="selected" value="20">20</option>
				<option value="50">50</option>
				<option value="100">100</option>
			</select>
		</form>
	</div>
</div>


<script src="/static/lib/jquery/jquery.tablesorter.min.js" type="text/javascript"></script>
<script src="/static/lib/jquery/jquery.tablesorter.pager.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$('table').tablesorter({
			ignoreCase: true,
		}).tablesorterPager({
			container: $("#pager"),
			positionFixed: false,
			size: 20,
		});
	});
</script>
{{end}}
