{{define "body"}}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Monitor <small>Configuration</small></h1>
	</div>
</div>

<div class="row">
	<form method="POST" id="form">
		<div class="col-lg-12">
			{{if .Errors}}
			<div class="alert alert-danger">
				<ul>
				{{range .Errors}}<li>{{.}}</li>{{end}}
				</ul>
			</div>
			{{end}}
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Main</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="UpdateInterval">Update interval</label>
						<input type="number" name="UpdateInterval" id="UpdateInterval" value="{{.Form.UpdateInterval}}" class="form-control" required />
					</div>
					<fieldset>
						<legend>System load monitoring</legend>
						<div class="form-group">
							<label for="LoadWarning">Warning level:</label>
							<input type="number" name="LoadWarning" id="LoadWarning" value="{{.Form.LoadWarning}}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="LoadError">Error level:</label>
							<input type="number" name="LoadError" id="LoadError" value="{{.Form.LoadError}}" class="form-control"/>
						</div>
					</fieldset>
					<fieldset>
						<legend>Memory monitoring</legend>
						<div class="form-group">
							<label for="RAMUsageWarning">RAM usage warning level:</label>
							<input type="number" name="RAMUsageWarning" id="RAMUsageWarning" value="{{.Form.RAMUsageWarning}}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="SwapUsageWarning">Swap usage warning level:</label>
							<input type="number" name="SwapUsageWarning" id="SwapUsageWarning" value="{{.Form.SwapUsageWarning}}" class="form-control"/>
						</div>
					</fieldset>
					<fieldset>
						<legend>File system monitoring</legend>
						<div class="form-group">
							<label for="DefaultFSUsageWarning">FS usage warning level:</label>
							<input type="number" name="DefaultFSUsageWarning" id="DefaultFSUsageWarning" value="{{.Form.DefaultFSUsageWarning}}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="DefaultFSUsageError">FS usage error level:</label>
							<input type="number" name="DefaultFSUsageError" id="DefaultFSUsageError" value="{{.Form.DefaultFSUsageError}}" class="form-control"/>
						</div>
					</fieldset>
					<fieldset>
						<legend>CPU temperature monitoring</legend>
						<div class="form-group">
							<label for="CPUTempWarning">CPU temperature warning level:</label>
							<input type="number" name="CPUTempWarning" id="CPUTempWarning" value="{{.Form.CPUTempWarning}}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="CPUTempError">CPU temperature error level:</label>
							<input type="number" name="CPUTempError" id="CPUTempError" value="{{.Form.CPUTempError}}" class="form-control"/>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">System</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<legend>/proc/files</legend>
						<div class="form-group">
							<label for="CPUFreqFile">Read CPU frequency from:</label>
							<input type="text" name="CPUFreqFile" id="CPUFreqFile" value="{{.Form.CPUFreqFile}}" class="form-control"/>
						</div>
						<div class="form-group">
							<label for="CPUTempFile">Read CPU temperature from:</label>
							<input type="text" name="CPUTempFile" id="CPUTempFile" value="{{.Form.CPUTempFile}}" class="form-control"/>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-xs-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Connection to services</h3>
				</div>
				<table class="table table-condensed table-bordered" data-numserv="{{len .Form.MonitoredServices}}" id="table-services">
					<thead><tr><th width="20%">Port</th><th width="70%">Name</th><th></th></tr></thead>
					<tbody>
					{{range $idx, $serv := .Form.MonitoredServices}}
						<tr>
							<td><input type="number" name="MonitoredServices.{{$idx}}.Port" value="{{$serv.Port}}" /></td>
							<td><input type="text" name="MonitoredServices.{{$idx}}.Name" value="{{$serv.Name}}" /></td>
							<td><a href="#" class="serv-delete">Remove</a></td>
						</tr>
					{{end}}
					</tbody>
				</table>
				<div class="panel-footer">
					<a href="#" id="services-add-row">Add row</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12">
			<input type="hidden" name="BasePageContext.CsrfToken" id="" value="{{.CsrfToken}}" />
			<button type="submit" class="btn btn-primary">Save</button>
			<a href="{{namedurl "m-pref-modules-index"}}" type="button" class="btn btn-default">Cancel</a>
		</div>
	</form>
</div>
{{end}}

{{define "scripts"}}
<script type="text/javascript">
	$(function() {

		function onRemoveServRow(event) {
			event.preventDefault();
			if (confirm("Remove row?")) {
				$(this).closest('tr').remove();
			}
		}

		function updateServTableRows(parent) {
			$('input[type="number"]', parent).rules("add", {
				range: [1, 65535]
			});
			$('a.serv-delete', parent).on("click", onRemoveServRow);
		};

		$("form").validate({
			rules: {
				UpdateInterval: {min: 0},
				LoadWarning: {min: 0},
				LoadError: {min: 0},
				RAMUsageWarning: {range: [0, 100]},
				SwapUsageWarning: {range: [0, 100]},
				DefaultFSUsageWarning: {range: [0, 100]},
				DefaultFSUsageError: {range: [0, 100]},
				CPUTempWarning: {min: 0},
				CPUTempError: {min: 0}
			}
		});

		updateServTableRows($("#table-services"));

		$("#services-add-row").on("click", function(event) {
			event.preventDefault();
			var lastId = $("#table-services").data("numserv"),
				newRow = $('<tr><td><input type="number" name="MonitoredServices.' + lastId + '.Port" /></td><td><input type="text" name="MonitoredServices.' + lastId + '.Name" /></td><td><a href="#" class="serv-delete">Remove</a></td></tr>');
			$('#table-services tbody').append(newRow);
			$("#table-services").data("numserv", lastId + 1);
			updateServTableRows(newRow);
		});
	});
</script>
{{end}}
