{{define "body"}}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Utilities</h1>
		</h1>
	</div>
</div>
<div class="row">
{{range $key, $elements := .Configuration.Utils}}
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading"> {{$key}} </div>
			<div class="list-group">
			{{range $idx, $ele := $elements}}
				<a href="{{namedurl "utils-exec" "group" $key "command-id" (print $idx)}}" onclick="return RPI.confirm()" class="list-group-item">{{$ele.Name}}</a>
			{{end}}
			</div>
		</div>
	</div>
{{end}}
</div>

{{end}}

{{define "scripts"}}
<script src="/static/js/utils.js" type="text/javascript" ></script>
<script type="text/javascript">
	$(function() {
		RPI.utils.init({"token": "{{.CsrfToken}}"});
	});
</script>
{{end}}
