{{define "body"}}
<div class="container-fluid">
	<h1>Utils</h1>
	{{range $key, $elements := .Configuration.Utils}}
	<h2>{{$key}}</h2>
	<ul>
		{{range $idx, $ele := $elements}}
		<li><a href="/utils/{{$key | urlquery}}/{{$idx | urlquery}}" onclick="return RPI.confirm()">{{$ele.Name}}</a></li>
		{{end}}
	</ul>
	{{end}}
</div>

{{end}}
