{{define "body"}}
<div class="pure-u-1">
	<section>
		<h1>User</h1>
		{{if .Message}}
			{{.Message}}
		{{end}}
		{{with .Form}}
		<form action="" method="post" accept-charset="utf-8" class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="login">Login</label>
					<input type="text" name="User.Login" id="login" value="{{.Login}}" />
				</div>
				<div class="pure-control-group">
					<label for="name">Name</label>
					<input type="text" name="User.Name" id="name" value="{{.Name}}" />
				</div>
				<div class="pure-control-group">
					<label for="password1">Password</label>
					<input type="password" name="Password1" id="password1" value="" />
					<label for="password2">Password again</label>
					<input type="password" name="Password2" id="password2" value="" />
				</div>
				<div class="pure-controls">
					<input type="hidden" name="User.Id" value="{{.Id}}" />
					<input type="hidden" name="CsrfToken" id="" value="{{.CsrfToken}}" />
					<button type="submit" class="pure-button pure-button-primary">Save</button>
					<a href="/users/" class="pure-button">Back</a>
				</div>
			</fieldset>
		</form>
		{{end}}
	</section>
</div>
{{end}}
