{{define "body"}}
<div class="pure-u-1">
	<section>
		<h1>User</h1>
		{{if .Message}}
			{{.Message}}
		{{end}}
		<form action="" method="post" accept-charset="utf-8" class="pure-form pure-form-aligned">
			<fieldset>
				<div class="pure-control-group">
					<label for="login">Login</label>
					<input type="text" name="UserForm.User.Login" id="login" value="{{.Login}}" required />
				</div>
				<div class="pure-control-group">
					<label for="name">Name</label>
					<input type="text" name="UserForm.User.Name" id="name" value="{{.Name}}" required />
				</div>
				<div class="pure-control-group">
					<label for="password1">Password</label>
					<input type="password" name="UserForm.Password1" id="password1" value="" />
				</div>
				<div class="pure-control-group">
					<label for="password2">Password again</label>
					<input type="password" name="UserForm.Password2" id="password2" value="" />
				</div>
				<div class="pure-controls">
					<input type="hidden" name="UserForm.User.Id" value="{{.Id}}" />
					<input type="hidden" name="BasePageContext.CsrfToken" id="" value="{{.CsrfToken}}" />
					<button type="submit" class="pure-button pure-button-primary">Save</button>
					<a href="/users/" class="pure-button">Back</a>
				</div>
			</fieldset>
		</form>
	</section>
</div>

<script src="/static/lib/jquery/jquery.validate.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function() {	
		$("form").validate({
			rules: {
				"UserForm.Password2": {
					equalTo: "#password1"
				},
			},
		});
	});
</script>

{{end}}
