{{define "body"}}
<div class="pure-u-1">
	<section>
		<h1>Privs</h1>
		<p>
			<a href="0" class="pure-button">New Privilage</a>
		</p>
		<table  class="pure-table">
			<thead>
				<tr>
					<td>Code</td>
					<td>Name</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody>
			{{range .Privilages}}
				<tr>
					<td>{{.Code}}</td>
					<td>{{.Name}}</td>
					<td><a href="{{.Id}}">Edit</a></td>
				</tr>
			{{end}}
			</tbody>
		</table>
	</section>
</div>
{{end}}
